# Hearthstone Project
***
***

# Goals
- Thoroughly prepare the data such that it is ready for exploration and modeling (even though modeling is not an anticipated part of this project currently, I want to practice preparing data)
- Explore the data to gather insights about the characteristics of the game's different class types

# Setup
***

In [1]:
# establishing environment
import pandas as pd
import numpy as np

# Acquire
Acquiring data from local csv files
***

In [2]:
# reading in card data and saving as DF
cards = pd.read_csv('hearthstone_standard_cards.csv')

# reading in card classes and saving as DF
classes = pd.read_csv('classes.csv')

# reading in minion types data and saving as DF
mtypes = pd.read_csv('minionTypes.csv')

# reading in rarities data and saving as DF
rarities = pd.read_csv('rarities.csv')

# reading in set groups data and saving as DF
setgroups = pd.read_csv('setGroups.csv')

# reading in card sets data and saving as DF
sets = pd.read_csv('sets.csv')

# reading in types data and saving as DF
ctypes = pd.read_csv('types.csv')

# reading in keywords data and saving as DF
keywords = pd.read_csv('keywords.csv')

# Prepare
Preparing data for exploration
***

### Merging 'classes' DF

In [3]:
# merging 'classes' df
df = pd.merge(cards, classes[['id', 'slug']], 
              left_on = 'classId', right_on = 'id', how="left", 
              suffixes = (None, '_hero_class'))

### Merging 'mtypes' DF

In [4]:
# merging 'mtypes' df
df = pd.merge(df, mtypes[['id', 'slug']], 
              left_on = 'minionTypeId', right_on = 'id', how="left", 
              suffixes = (None, '_minion_type_id'))

### Merging 'rarities' DF

In [5]:
# merging 'rarities' df
df = pd.merge(df, rarities[['id', 'slug']], 
              left_on = 'rarityId', right_on = 'id', how="left", 
              suffixes = (None, '_rarity'))

### Merging 'setGroups' DF

In [6]:
# merging 'setgroups' df
df = pd.merge(df, sets[['id', 'slug', 'name']], 
              left_on = 'cardSetId', right_on = 'id', how="left", 
              suffixes = (None, '_set'))

### Merging 'ctypes' DF

In [7]:
# merging 'ctypes' df
df = pd.merge(df, ctypes[['id', 'slug']], 
              left_on = 'cardTypeId', right_on = 'id', how="left", 
              suffixes = (None, '_card_type'))

### Adding missing keyword to 'keywords' DF

In [8]:
keywords.loc[len(keywords.index)] = ['64', 'start-of-game', 'Start of Game', 
                                     'Does something at the start of the Game.', 
                                     'Does something at the start of the Game.']

### Merging 'keywords' DF

In [9]:
# removing brackets and commas from keyword id column
df.keywordIds = df.keywordIds.str.replace('\]|,|\[' , '')

# splitting keyword ids into separate columns for each card
kwdf = df["keywordIds"].str.split(" ", expand = True) 

# renaming columns
kwdf.columns = ['keywordId1', 'keywordId2', 'keywordId3', 'keywordId4', 'keywordId5']

# concatenating split keyword id columns with main df
df = pd.concat([df, kwdf], axis=1)

# converting keywords id column to str type to enable merge
keywords.id = keywords.id.astype(str)

# creating loop to add a column for the text name of each keyword ability of each card
# via merging with keywords DF
for x in kwdf.columns:
    df = pd.merge(df, keywords[['id', 'slug']], 
              left_on = x, right_on = 'id', how = "left",
              suffixes = (None, x + '_name'))

### Checking for proper data types, categorical columns (based on domain knowledge), and null counts

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1289 entries, 0 to 1288
Data columns (total 50 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1289 non-null   int64
 1   collectible          1289 non-null   int64
 2   slug                 1289 non-null   object
 3   classId              1289 non-null   int64
 4   multiClassIds        1289 non-null   object
 5   cardTypeId           1289 non-null   int64
 6   cardSetId            1289 non-null   int64
 7   rarityId             1289 non-null   int64
 8   artistName           1288 non-null   object
 9   manaCost             1289 non-null   int64
 10  name                 1289 non-null   object
 11  text                 1271 non-null   object
 12  image                1289 non-null   object
 13  imageGold            805 non-null    object
 14  flavorText           1289 non-null   object
 15  cropImage            1289 non-null   object
 16  duels                708 non-null    object
 17  minionTypeId         321 non-null    float64
 18  health               825 non-null    float64
 19  attack               860 non-null    float64
 20  keywordIds           877 non-null    object
 21  childIds             295 non-null    object
 22  durability           48 non-null     float64
 23  armor                6 non-null      float64
 24  id_hero_class        1289 non-null   int64
 25  slug_hero_class      1289 non-null   object
 26  id_minion_type_id    321 non-null    float64
 27  slug_minion_type_id  321 non-null    object
 28  id_rarity            1289 non-null   int64
 29  slug_rarity          1289 non-null   object
 30  id_set               1289 non-null   int64
 31  slug_set             1289 non-null   object
 32  name_set             1289 non-null   object
 33  id_card_type         1289 non-null   int64
 34  slug_card_type       1289 non-null   object
 35  keywordId1           877 non-null    object
 36  keywordId2           285 non-null    object
 37  keywordId3           34 non-null     object
 38  keywordId4           4 non-null      object
 39  keywordId5           2 non-null      object
 40  idkeywordId1_name    871 non-null    object
 41  slugkeywordId1_name  871 non-null    object
 42  idkeywordId2_name    282 non-null    object
 43  slugkeywordId2_name  282 non-null    object
 44  idkeywordId3_name    34 non-null     object
 45  slugkeywordId3_name  34 non-null     object
 46  idkeywordId4_name    4 non-null      object
 47  slugkeywordId4_name  4 non-null      object
 48  idkeywordId5_name    2 non-null      object
 49  slugkeywordId5_name  2 non-null      object
dtypes: float64(6), int64(11), object(33)
memory usage: 513.6+ KB

- The following columns will be dropped as they won't be needed for the expected operations of this project
    - id, slug
        - unique identifiers for cards, not needed since the 'name' column provides this while also being easier to reference
    - artistName, image, imageGold, cropImage
        - I won't be exploring images or artist names in this iteration of the project
    - all columns reflecting key words with the exception of the boolean columns and the 'slug_keyword#_name' columns
        - The exempted columns are sufficient for the project's expected operations
     
     
- Based on my domain knowledge of the game, I'm inferring that several of the columns are categorical
    - I need to create boolean columns for categorical columns (rarity, card set, etc.)


- Many null values that need to be addressed
    - text
    - duels
    - minion type id
    - health
    - attack
    - child ids
    - durability
    - armor

### Dropping columns that aren't needed for the expected operations of this project

In [11]:
# creating list of columns to drop
columns_to_drop = ['id', 'slug', 'artistName', 'image', 'imageGold', 'flavorText', 'cropImage']

# dropping columns
df.drop(columns = columns_to_drop, inplace = True)

# Creating boolean columns for categorical variables

### Creating boolean columns for keywords

In [12]:
# loop iterates through each keyword and creates a boolean column for it
for kw in keywords.slug:
    df['has_' + kw] = np.where(
    (df.slugkeywordId1_name == kw) |
    (df.slugkeywordId2_name == kw) |
    (df.slugkeywordId3_name == kw) |
    (df.slugkeywordId4_name == kw) |
    (df.slugkeywordId5_name == kw), 1, 0)

### Dropping keyword related columns that are no longer needed

In [13]:
# creating empty list
key_word_col_drop = []

# iterating through columns in df and creating list of columns to drop
for col in df.columns:
    if 'keywordId' in col:
        key_word_col_drop.append(col)
        
# dropping columns
df.drop(columns = key_word_col_drop, inplace = True)

### Creating boolean columns for class types

In [14]:
# removing brackets and commas from multiclassids column
df.multiClassIds = df.multiClassIds.str.replace('\]|,|\[' , '')

# creating column that holds secondary class separate from primary class
df['classId2'] = df["multiClassIds"].str.split(" ", expand = True)[1]

# converting column to str type to enable merge with newly created column 'classId2'
classes.id = classes.id.astype(str)

# creating df containing columns for merge in order rename before merge without altering original classes DF
classes2 = classes[['id', 'slug']]

# renaming columns
classes2.columns = ['classId2', 'slug_hero_class2']

# merging 'classes' on secondary hero class id to get secondary class names
df = pd.merge(df, classes2[['classId2', 'slug_hero_class2']], 
              on = 'classId2', how="left")

# Addressing Null Values

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1289 entries, 0 to 1288
Data columns (total 67 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   collectible          1289 non-null   int64
 1   classId              1289 non-null   int64
 2   multiClassIds        1289 non-null   object
 3   cardTypeId           1289 non-null   int64
 4   cardSetId            1289 non-null   int64
 5   rarityId             1289 non-null   int64
 6   manaCost             1289 non-null   int64
 7   name                 1289 non-null   object
 8   text                 1271 non-null   object
 9   duels                708 non-null    object
 10  minionTypeId         321 non-null    float64
 11  health               825 non-null    float64
 12  attack               860 non-null    float64
 13  childIds             295 non-null    object
 14  durability           48 non-null     float64
 15  armor                6 non-null      float64
 16  id_hero_class        1289 non-null   int64
 17  slug_hero_class      1289 non-null   object
 18  id_minion_type_id    321 non-null    float64
 19  slug_minion_type_id  321 non-null    object
 20  id_rarity            1289 non-null   int64
 21  slug_rarity          1289 non-null   object
 22  id_set               1289 non-null   int64
 23  slug_set             1289 non-null   object
 24  name_set             1289 non-null   object
 25  id_card_type         1289 non-null   int64
 26  slug_card_type       1289 non-null   object
 27  has_taunt            1289 non-null   int64
 28  has_spellpower       1289 non-null   int64
 29  has_divine-shield    1289 non-null   int64
 30  has_charge           1289 non-null   int64
 31  has_secret           1289 non-null   int64
 32  has_stealth          1289 non-null   int64
 33  has_battlecry        1289 non-null   int64
 34  has_freeze           1289 non-null   int64
 35  has_windfury         1289 non-null   int64
 36  has_deathrattle      1289 non-null   int64
 37  has_combo            1289 non-null   int64
 38  has_overload         1289 non-null   int64
 39  has_silence          1289 non-null   int64
 40  has_counter          1289 non-null   int64
 41  has_immune           1289 non-null   int64
 42  has_spare-part       1289 non-null   int64
 43  has_inspire          1289 non-null   int64
 44  has_discover         1289 non-null   int64
 45  has_quest            1289 non-null   int64
 46  has_poisonous        1289 non-null   int64
 47  has_adapt            1289 non-null   int64
 48  has_lifesteal        1289 non-null   int64
 49  has_recruit          1289 non-null   int64
 50  has_echo             1289 non-null   int64
 51  has_rush             1289 non-null   int64
 52  has_overkill         1289 non-null   int64
 53  has_modular          1289 non-null   int64
 54  has_evilzug          1289 non-null   int64
 55  has_twinspell        1289 non-null   int64
 56  has_mega-windfury    1289 non-null   int64
 57  has_reborn           1289 non-null   int64
 58  has_empower          1289 non-null   int64
 59  has_outcast          1289 non-null   int64
 60  has_spellburst       1289 non-null   int64
 61  has_sidequest        1289 non-null   int64
 62  has_corrupt          1289 non-null   int64
 63  has_start-of-combat  1289 non-null   int64
 64  has_start-of-game    1289 non-null   int64
 65  classId2             50 non-null     object
 66  slug_hero_class_2    50 non-null     object
dtypes: float64(6), int64(48), object(13)
memory usage: 724.8+ KB

### Variable: text

In [18]:
# checking values in text box
df.text.value_counts()

<b>Taunt</b>                                                                           15
<b>Charge</b>                                                                           7
<b>Stealth</b>                                                                          6
<b>Spell Damage +1</b>                                                                  6
<b>Divine Shield</b>                                                                    5
                                                                                       ..
Deal 2 damage to an undamaged minion.                                                   1
<b>Battlecry:</b> Summon a 2/2&nbsp;Squire.                                             1
<b>Choose One -</b> +5 Attack; or +5 Health and <b>Taunt</b>.                           1
<b>Battlecry:</b> Give your other minions "<b>Deathrattle:</b> Summon a 1/1 Demon."     1
After a friendly Mech dies, add a random Mech to your hand.                             1
Name: text, Length: 1214, dtype: int64

In [19]:
# filling null text values with 'no effect'
df["text"].fillna("no_effect", inplace = True)

### Variable: duels

In [20]:
# checking duels values
df.duels.value_counts(dropna = False)

{'relevant': True, 'constructed': True}    708
NaN                                        581
Name: duels, dtype: int64

In [21]:
# updating duels column so that cards that were allowed in duels have value of 1 and 0 otherwise
df['duels'] = np.where((df.duels == "{'relevant': True, 'constructed': True}"), 1, 0)

### Variable: minionTypeId

In [22]:
# checking duels values
df.minionTypeId.value_counts(dropna = False)

NaN     968
20.0     75
15.0     63
18.0     51
24.0     50
17.0     32
14.0     25
23.0     18
21.0      6
26.0      1
Name: minionTypeId, dtype: int64

In [23]:
# converting nulls to 'neutral' type
df['minionTypeId'] = np.where((df.minionTypeId.isnull() == True), 'Neutral', df.minionTypeId)

### Variables: health, attack, durability, armor
All of these variables respective columns have null values since none of these variables apply to every card (examples: only minions have health while only weapons have durability). Ill be leaving the nulls in these particular columns for the reasons listed below.

- I don't want to impute a string such as 'NA' as this will alter the numeric data type of the column
- I don't want to impute a false numeric value as the null state is more accurate in this instance
- I'll be isolating the appropriate card types when exploring this variable so the nulls won't impact exploration
- This project will not include modeling so leaving nulls in these columns won't be an issue for modeling either

However, I will be checking for instances of attributes being applied to the wrong card types and correcting them as needed. For example, a weapon having health or a minion having durability.

### Variable: childIds

In [24]:
# checking duels values
df.childIds.value_counts(dropna = False)

NaN                                                                       994
[52897, 52900, 53160, 53161, 53162, 53163, 55378, 60588, 64652, 64653]     15
[59723]                                                                     8
[53921]                                                                     3
[56927]                                                                     3
                                                                         ...
[54541]                                                                     1
[325, 451]                                                                  1
[55778]                                                                     1
[61272]                                                                     1
[53310]                                                                     1
Name: childIds, Length: 261, dtype: int64

In [25]:
# filling nulls with "no_childid"
df.childIds.fillna("no_childid", inplace = True)